header {
    background-color: black;
    color: white;
    border: rgb(245, 231, 245);
    height: 100px;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
    color: white;
}